* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #C8E5EE;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 100px auto;

}

.grid {

    flex: 0 1 ;
    aspect-ratio: 1 / 1;


}

.hover {
    background-color: aqua;
}
s