* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #5FB2CE;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: white;
    margin: 100px auto;
    box-shadow: 10px 10px rgba(0, 170, 255, 0.103);
}

.grid {
    border: 1px solid whitesmoke;
    flex: 0 1 ;
    aspect-ratio: 1 / 1;


}

.hover {
    background-color: #E6BBAD;
}

.header {
    display: flex;
    justify-content: center;
    align-content: center;
}

#title-header {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 40px auto -20px;
    background-color: #E6ADBB;
    padding: 10px 200px 10px 200px;
    box-shadow: 5px 5px rgba(255, 0, 170, 0.103);
    border-radius: 10px;
}

.btn-container {
    display: flex;
    justify-content: center;
    margin: -75px auto;;
    gap: 10px;
}

.active {
    background-color: #BBE6AD;
}

#new-grid {

    padding: 10px;
    border-radius: 10px;
}

#randomize {
    padding: 10px;
    border-radius: 10px;
}

#shading {
    padding: 10px;
    border-radius: 10px;
}